<!--Preston Loveland
    Assignment 1 IS 414
    Group 11 Section 1-->
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Preston Loveland Site";
}

<body>

    <!--Picture-->
    <img src="~/img/IMG_4989.jpg" />
    <!--Paragraph-->
    <p>I hope to gain a deeper understanding of programming in general while adding several languages to my programming arsenal.</p>
    <br />
    <!--Top 3 jobs-->
    <p>Top 3 Jobs:</p>
    <ul class="quiz-props">
        <li>AWS Solutions Architect</li>
        <li>Junior Software Engineer for Domo</li>
        <li>Data Analyst for Goldman Sachs</li>
    </ul>
    <!--Grade calculator inputs-->

</body>
